*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* this causes you to put pixels easily in rem - 24px = 2.4rem */
  background-color: var(--c-background);
}

body {
  font-size: 1.6rem;
}

a {
  color: var(--c-primary);
  transition: color var(--ease-out-instant);
}

a:hover {
  color: var(--c-secondary);
  transition: color var(--ease-in-fast);
}

p {
  margin: 0;
}