:root {
  --s-tiny: 1.4rem;
  --s-small: 2.1rem;
  --s-medium: 2.8rem;
  --s-large: 3.6rem;
  --s-big: 4.8rem;
  --s-huge: 6.3rem;

  --c-black: #000000;
  --c-dim: #717574;
  --c-primary: #0099bc;
  --c-secondary: #ea5b0c;
  --c-success: #289b38;
  --c-warn: #d51317;
}