:root {
  --s-nano: 0.9rem;
  --s-tiny: 1.4rem;
  --s-small: 2.1rem;
  --s-medium: 2.8rem;
  --s-large: 3.6rem;
  --s-big: 4.8rem;
  --s-huge: 6.3rem;

  --c-white: #ffffff;
  --c-black: #000000;
  --c-background: #F7F7F7;
  --c-dim: #D1D1D1;
  --c-dim-text: #707679;
  --c-focus: #005ca9;
  --c-primary: #009ABC;
  --c-secondary: #EC5B00;
  --c-success: #289b38;
  --c-warn: #d51317;
  
  --icon-small: var(--s-small);

  --rounded-tiny: 0.2rem;
  --rounded-small: 0.5rem;
  --rounded-medium: 2rem;
  --rounded-large: 4rem;
  --rounded-huge: 5rem;

  --header-height: 11.2rem;

  --ease-in-fast: 0.15s ease-in;
  --ease-in-medium: 0.25s ease-in;
  --ease-in-slow: 0.5s ease-in;
  --ease-out-instant: 0.1s ease-out;
}